# This notebook is going to teach you how to perform basic pyspark operations

In [2]:
# Initialise Input And Output Dataset Path Variables
input_dataset_path = "C:/Users/Jasjyot Singh Jaswal/Documents/JupyterWB/BigDataOrclProject/InputDataset"
output_datset_path = "C:/Users/Jasjyot Singh Jaswal/Documents/JupyterWB/BigDataOrclProject/OutputDataset"
output_datset_path_csv = f"{output_datset_path}/CSV"
output_datset_path_pipe = f"{output_datset_path}/PIPE"
output_datset_path_tab = f"{output_datset_path}/TAB"
output_datset_path_json = f"{output_datset_path}/JSON"

## Import Dependencies

In [3]:
import findspark
findspark.init()
import pyspark # only run after findspark.init()
from pyspark.sql.functions import col, explode,coalesce
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import LongType
from pyspark.sql.types import StructType
from pyspark.sql.functions import udf
from pyspark.sql import functions as f
spark = SparkSession.builder.getOrCreate()
import datetime
from datetime import timedelta 
from pyspark.sql.types import ArrayType
from pyspark.sql.functions import split
from pyspark.sql.types import StringType
from pyspark.sql import functions
from pyspark.sql.window import Window
from pyspark.sql.functions import *

## Load Input Dataset for Web Visitors and Display

In [6]:
web_visits = spark.read.option("header", "true").csv(f"{input_dataset_path}/webiste_visitor_data.csv")
web_visits.show(truncate=False)

+----------+----------+----------+----------------------------------+------+---------------+
|visitor_id|first_name|last_name |email                             |gender|ip_address     |
+----------+----------+----------+----------------------------------+------+---------------+
|1         |Marysa    |Arnull    |marnull0@t.co                     |Female|148.118.170.117|
|2         |Alys      |Mapledoram|amapledoram1@amazon.co.jp         |Female|189.249.7.22   |
|null      |Pepi      |Kilbourne |null                              |Female|84.196.181.206 |
|4         |Irita     |Coltan    |icoltan3@reddit.com               |Female|103.96.233.190 |
|5         |Wilburt   |Sheals    |wsheals4@ebay.com                 |Male  |51.106.36.130  |
|6         |Viviene   |Ewestace  |vewestace5@cnbc.com               |Female|189.8.44.77    |
|7         |Grange    |Bernhardt |gbernhardt6@nationalgeographic.com|Male  |237.92.0.252   |
|8         |Boris     |Gladdish  |bgladdish7@rakuten.co.jp          |Male  |214.120.52.45  |
|9         |Eldon     |Hamstead  |ehamstead8@issuu.com              |Male  |181.51.131.114 |
|10        |Patrice   |Buske     |pbuske9@shop-pro.jp               |Male  |8.4.93.195     |
|11        |Fallon    |Saint     |fsainta@youtu.be                  |Female|28.41.126.59   |
|12        |Falkner   |Merrgan   |fmerrganb@mac.com                 |Male  |75.160.5.11    |
|null      |Shanta    |Tumber    |null                              |Female|71.102.214.197 |
|14        |Daloris   |Howood    |dhowoodd@jiathis.com              |Female|108.63.219.36  |
|15        |Augustus  |Lockney   |alockneye@ehow.com                |Male  |62.178.138.189 |
|16        |Cissy     |Fetherby  |cfetherbyf@ovh.net                |Female|49.136.89.178  |
|17        |Evered    |Demsey    |edemseyg@cloudflare.com           |Male  |109.147.148.147|
|18        |Rube      |Astill    |rastillh@timesonline.co.uk        |Male  |88.111.38.168  |
|19        |Saunderson|Di Ruggero|sdiruggeroi@reverbnation.com      |Male  |205.216.12.141 |
|20        |Frederick |Dow       |fdowj@bbc.co.uk                   |Male  |0.148.192.9    |
+----------+----------+----------+----------------------------------+------+---------------+
only showing top 20 rows

In [4]:
###  A. Selecting only First_Name,Last_Name,Email using Select API. 
###     Also renaming field Email to MailID using withColumnRenamed

In [5]:
web_visit_with_name_mail = web_visits.select("first_name","last_name","email").withColumnRenamed("email","mail-id")
web_visit_with_name_mail.show(truncate=False)

+----------+----------+----------------------------------+
|first_name|last_name |mail-id                           |
+----------+----------+----------------------------------+
|Marysa    |Arnull    |marnull0@t.co                     |
|Alys      |Mapledoram|amapledoram1@amazon.co.jp         |
|Pepi      |Kilbourne |null                              |
|Irita     |Coltan    |icoltan3@reddit.com               |
|Wilburt   |Sheals    |wsheals4@ebay.com                 |
|Viviene   |Ewestace  |vewestace5@cnbc.com               |
|Grange    |Bernhardt |gbernhardt6@nationalgeographic.com|
|Boris     |Gladdish  |bgladdish7@rakuten.co.jp          |
|Eldon     |Hamstead  |ehamstead8@issuu.com              |
|Patrice   |Buske     |pbuske9@shop-pro.jp               |
|Fallon    |Saint     |fsainta@youtu.be                  |
|Falkner   |Merrgan   |fmerrganb@mac.com                 |
|Shanta    |Tumber    |null                              |
|Daloris   |Howood    |dhowoodd@jiathis.com              |
|Augustus  |Lockney   |alockneye@ehow.com                |
|Cissy     |Fetherby  |cfetherbyf@ovh.net                |
|Evered    |Demsey    |edemseyg@cloudflare.com           |
|Rube      |Astill    |rastillh@timesonline.co.uk        |
|Saunderson|Di Ruggero|sdiruggeroi@reverbnation.com      |
|Frederick |Dow       |fdowj@bbc.co.uk                   |
+----------+----------+----------------------------------+
only showing top 20 rows

In [6]:
### B. Selecting only IP Address & Gender by dropping other fields using DROP API

In [7]:
visitor_ip_gender = web_visits.drop("first_name","last_name","email","visitor_id")
visitor_ip_gender.show(truncate=False)

+------+---------------+
|gender|ip_address     |
+------+---------------+
|Female|148.118.170.117|
|Female|189.249.7.22   |
|Female|84.196.181.206 |
|Female|103.96.233.190 |
|Male  |51.106.36.130  |
|Female|189.8.44.77    |
|Male  |237.92.0.252   |
|Male  |214.120.52.45  |
|Male  |181.51.131.114 |
|Male  |8.4.93.195     |
|Female|28.41.126.59   |
|Male  |75.160.5.11    |
|Female|71.102.214.197 |
|Female|108.63.219.36  |
|Male  |62.178.138.189 |
|Female|49.136.89.178  |
|Male  |109.147.148.147|
|Male  |88.111.38.168  |
|Male  |205.216.12.141 |
|Male  |0.148.192.9    |
+------+---------------+
only showing top 20 rows

In [8]:
### C. Show Simple Transformation such as Concat by using Oringinal Input by contactenating First & Last Name. 
###    Also Prefix Constant Mr. Or Mrs. depending on value of gender.
###    Use function lit to append constants & When/Otherwise to evaluate condition for Gender
###    For inappropriate gender or null values omit Mr/Mrs and simply concatenate

In [9]:
web_visit_with_fullname = web_visits.withColumn("fullName",
 when(col("gender") == "Male",f.concat(lit("Mr. "),col("first_name"),col("last_name"))) \
.when(col("gender") == "Female",f.concat(lit("Mrs. "),col("first_name"),col("last_name"))) \
.otherwise(f.concat(col("first_name"),col("last_name"))))

web_visit_with_fullname.show(truncate=False)

+----------+----------+----------+----------------------------------+------+---------------+------------------------+
|visitor_id|first_name|last_name |email                             |gender|ip_address     |fullName                |
+----------+----------+----------+----------------------------------+------+---------------+------------------------+
|1         |Marysa    |Arnull    |marnull0@t.co                     |Female|148.118.170.117|Mrs. MarysaArnull       |
|2         |Alys      |Mapledoram|amapledoram1@amazon.co.jp         |Female|189.249.7.22   |Mrs. AlysMapledoram     |
|null      |Pepi      |Kilbourne |null                              |Female|84.196.181.206 |Mrs. PepiKilbourne      |
|4         |Irita     |Coltan    |icoltan3@reddit.com               |Female|103.96.233.190 |Mrs. IritaColtan        |
|5         |Wilburt   |Sheals    |wsheals4@ebay.com                 |Male  |51.106.36.130  |Mr. WilburtSheals       |
|6         |Viviene   |Ewestace  |vewestace5@cnbc.com               |Female|189.8.44.77    |Mrs. VivieneEwestace    |
|7         |Grange    |Bernhardt |gbernhardt6@nationalgeographic.com|Male  |237.92.0.252   |Mr. GrangeBernhardt     |
|8         |Boris     |Gladdish  |bgladdish7@rakuten.co.jp          |Male  |214.120.52.45  |Mr. BorisGladdish       |
|9         |Eldon     |Hamstead  |ehamstead8@issuu.com              |Male  |181.51.131.114 |Mr. EldonHamstead       |
|10        |Patrice   |Buske     |pbuske9@shop-pro.jp               |Male  |8.4.93.195     |Mr. PatriceBuske        |
|11        |Fallon    |Saint     |fsainta@youtu.be                  |Female|28.41.126.59   |Mrs. FallonSaint        |
|12        |Falkner   |Merrgan   |fmerrganb@mac.com                 |Male  |75.160.5.11    |Mr. FalknerMerrgan      |
|null      |Shanta    |Tumber    |null                              |Female|71.102.214.197 |Mrs. ShantaTumber       |
|14        |Daloris   |Howood    |dhowoodd@jiathis.com              |Female|108.63.219.36  |Mrs. DalorisHowood      |
|15        |Augustus  |Lockney   |alockneye@ehow.com                |Male  |62.178.138.189 |Mr. AugustusLockney     |
|16        |Cissy     |Fetherby  |cfetherbyf@ovh.net                |Female|49.136.89.178  |Mrs. CissyFetherby      |
|17        |Evered    |Demsey    |edemseyg@cloudflare.com           |Male  |109.147.148.147|Mr. EveredDemsey        |
|18        |Rube      |Astill    |rastillh@timesonline.co.uk        |Male  |88.111.38.168  |Mr. RubeAstill          |
|19        |Saunderson|Di Ruggero|sdiruggeroi@reverbnation.com      |Male  |205.216.12.141 |Mr. SaundersonDi Ruggero|
|20        |Frederick |Dow       |fdowj@bbc.co.uk                   |Male  |0.148.192.9    |Mr. FrederickDow        |
+----------+----------+----------+----------------------------------+------+---------------+------------------------+
only showing top 20 rows

In [10]:
### D.Filter Rows from Original source where Gender is Invalid & Display the sample along with count.
###   Also validate the FullName values which do not have Mr. / Mrs. & Display the sample along with count from C.
###   The Count for both should be the same validating the transformation applied is correct

In [11]:
### PART1 Check Source

In [12]:
org_rec_with_invalid_gender = web_visits.filter( (((col("gender") == "Male") | (col("gender") == "Female" )) != True)  | (col("gender").isNull()) == True ) 
src_invalid_gender_count = org_rec_with_invalid_gender.count()

In [13]:
org_rec_with_invalid_gender.show(truncate=False)

+----------+----------+---------+--------------------------+-------------+--------------+
|visitor_id|first_name|last_name|email                     |gender       |ip_address    |
+----------+----------+---------+--------------------------+-------------+--------------+
|null      |Vasili    |Notman   |null                      |HRWMale      |240.10.38.196 |
|109       |Ferrel    |Leopard  |fleopard30@feedburner.com |MaleDER      |175.110.87.150|
|135       |Lavina    |Hardway  |lhardway3q@e-recht24.de   |FemalePNPSPAP|49.91.83.178  |
|144       |Tabitha   |Wallen   |twallen3z@altervista.org  |null         |17.250.15.126 |
|991       |Davin     |Ayer     |dayerri@barnesandnoble.com|null         |88.138.125.228|
+----------+----------+---------+--------------------------+-------------+--------------+

In [14]:
src_invalid_gender_count

5

In [15]:
### PART2 Check Transformed Values.
### Use startswith Function to ensure column Value Starts with Mr. or Mrs.

In [16]:
output_rec_with_invalid_fullnm = web_visit_with_fullname.filter((col("fullName").startswith("Mr.") != True) & (col("fullName").startswith("Mrs.") != True))
invalid_fullnm_count = output_rec_with_invalid_fullnm.count()

In [17]:
output_rec_with_invalid_fullnm.show(truncate=False)

+----------+----------+---------+--------------------------+-------------+--------------+-------------+
|visitor_id|first_name|last_name|email                     |gender       |ip_address    |fullName     |
+----------+----------+---------+--------------------------+-------------+--------------+-------------+
|null      |Vasili    |Notman   |null                      |HRWMale      |240.10.38.196 |VasiliNotman |
|109       |Ferrel    |Leopard  |fleopard30@feedburner.com |MaleDER      |175.110.87.150|FerrelLeopard|
|135       |Lavina    |Hardway  |lhardway3q@e-recht24.de   |FemalePNPSPAP|49.91.83.178  |LavinaHardway|
|144       |Tabitha   |Wallen   |twallen3z@altervista.org  |null         |17.250.15.126 |TabithaWallen|
|991       |Davin     |Ayer     |dayerri@barnesandnoble.com|null         |88.138.125.228|DavinAyer    |
+----------+----------+---------+--------------------------+-------------+--------------+-------------+

In [18]:
invalid_fullnm_count

5

In [ ]:
### E. Find Counts And Display Rows Having null values for Visitor ID.
### Use Coalesce to use ip_address as visitor id, if visitor id is blank

In [ ]:
### PART1 Find Counts of source with null values for visitor id and display sample
### Sort/OrderBy by ip_address to ensure same 20 results are visible before and after coalsesce

In [20]:
web_visits_null_visitorid = web_visits.filter(col("visitor_id").isNull())
null_visitorid_count = web_visits_null_visitorid.count()

In [30]:
web_visits_null_visitorid.orderBy(col("ip_address").desc()).show(truncate=False)

+----------+----------+---------+-----+-------+---------------+
|visitor_id|first_name|last_name|email|gender |ip_address     |
+----------+----------+---------+-----+-------+---------------+
|null      |Kerk      |Realph   |null |Male   |97.11.198.152  |
|null      |Mersey    |Edgeworth|null |Female |94.248.246.40  |
|null      |Nobe      |Graalman |null |Male   |92.191.8.232   |
|null      |Pepi      |Kilbourne|null |Female |84.196.181.206 |
|null      |Carmelita |Camock   |null |Female |75.195.58.173  |
|null      |Mack      |Poser    |null |Male   |72.122.182.45  |
|null      |Shanta    |Tumber   |null |Female |71.102.214.197 |
|null      |Irita     |Folli    |null |Female |7.217.3.163    |
|null      |Rupert    |Stiegars |null |Male   |69.237.226.67  |
|null      |Conant    |Hawler   |null |Male   |57.94.26.165   |
|null      |Kippy     |Glisenan |null |Male   |55.81.243.209  |
|null      |Stephenie |Kilpin   |null |Female |53.48.126.221  |
|null      |Vania     |Wrassell |null |Female |50.209.34.232  |
|null      |Denna     |Reston   |null |Female |48.246.113.39  |
|null      |Sonnie    |Jenkinson|null |Male   |45.54.66.84    |
|null      |Christye  |Colcutt  |null |Female |26.177.62.144  |
|null      |Llewellyn |Bulpitt  |null |Male   |255.212.85.194 |
|null      |Casi      |Stonnell |null |Female |249.207.212.211|
|null      |Blisse    |Guisby   |null |Female |249.15.78.182  |
|null      |Vasili    |Notman   |null |HRWMale|240.10.38.196  |
+----------+----------+---------+-----+-------+---------------+
only showing top 20 rows

In [31]:
null_visitorid_count

65

In [32]:
### PART2 ApplyCoalesce Transformation for Source
### Filter visitorid having '.' using contains function to find how many records were impacted by coalesce & Take count.
### Display Sample Records and Sort/OrderBy IP Address descending to compare same set of records

In [34]:
web_visits_coalesced_visitorid = web_visits.withColumn("visitor_id",coalesce(col("visitor_id"),col("ip_address")))

In [35]:
web_visits_coalesced_visitorid.show(truncate=False)

+--------------+----------+----------+----------------------------------+------+---------------+
|visitor_id    |first_name|last_name |email                             |gender|ip_address     |
+--------------+----------+----------+----------------------------------+------+---------------+
|1             |Marysa    |Arnull    |marnull0@t.co                     |Female|148.118.170.117|
|2             |Alys      |Mapledoram|amapledoram1@amazon.co.jp         |Female|189.249.7.22   |
|84.196.181.206|Pepi      |Kilbourne |null                              |Female|84.196.181.206 |
|4             |Irita     |Coltan    |icoltan3@reddit.com               |Female|103.96.233.190 |
|5             |Wilburt   |Sheals    |wsheals4@ebay.com                 |Male  |51.106.36.130  |
|6             |Viviene   |Ewestace  |vewestace5@cnbc.com               |Female|189.8.44.77    |
|7             |Grange    |Bernhardt |gbernhardt6@nationalgeographic.com|Male  |237.92.0.252   |
|8             |Boris     |Gladdish  |bgladdish7@rakuten.co.jp          |Male  |214.120.52.45  |
|9             |Eldon     |Hamstead  |ehamstead8@issuu.com              |Male  |181.51.131.114 |
|10            |Patrice   |Buske     |pbuske9@shop-pro.jp               |Male  |8.4.93.195     |
|11            |Fallon    |Saint     |fsainta@youtu.be                  |Female|28.41.126.59   |
|12            |Falkner   |Merrgan   |fmerrganb@mac.com                 |Male  |75.160.5.11    |
|71.102.214.197|Shanta    |Tumber    |null                              |Female|71.102.214.197 |
|14            |Daloris   |Howood    |dhowoodd@jiathis.com              |Female|108.63.219.36  |
|15            |Augustus  |Lockney   |alockneye@ehow.com                |Male  |62.178.138.189 |
|16            |Cissy     |Fetherby  |cfetherbyf@ovh.net                |Female|49.136.89.178  |
|17            |Evered    |Demsey    |edemseyg@cloudflare.com           |Male  |109.147.148.147|
|18            |Rube      |Astill    |rastillh@timesonline.co.uk        |Male  |88.111.38.168  |
|19            |Saunderson|Di Ruggero|sdiruggeroi@reverbnation.com      |Male  |205.216.12.141 |
|20            |Frederick |Dow       |fdowj@bbc.co.uk                   |Male  |0.148.192.9    |
+--------------+----------+----------+----------------------------------+------+---------------+
only showing top 20 rows

In [40]:
coalesced_visitorid_records = web_visits_coalesced_visitorid.filter(col("visitor_id").contains("."))
coalesced_records_count = coalesced_visitorid_records.count()

In [42]:
coalesced_visitorid_records.orderBy(col("ip_address").desc()).show(truncate=False)

+---------------+----------+---------+-----+-------+---------------+
|visitor_id     |first_name|last_name|email|gender |ip_address     |
+---------------+----------+---------+-----+-------+---------------+
|97.11.198.152  |Kerk      |Realph   |null |Male   |97.11.198.152  |
|94.248.246.40  |Mersey    |Edgeworth|null |Female |94.248.246.40  |
|92.191.8.232   |Nobe      |Graalman |null |Male   |92.191.8.232   |
|84.196.181.206 |Pepi      |Kilbourne|null |Female |84.196.181.206 |
|75.195.58.173  |Carmelita |Camock   |null |Female |75.195.58.173  |
|72.122.182.45  |Mack      |Poser    |null |Male   |72.122.182.45  |
|71.102.214.197 |Shanta    |Tumber   |null |Female |71.102.214.197 |
|7.217.3.163    |Irita     |Folli    |null |Female |7.217.3.163    |
|69.237.226.67  |Rupert    |Stiegars |null |Male   |69.237.226.67  |
|57.94.26.165   |Conant    |Hawler   |null |Male   |57.94.26.165   |
|55.81.243.209  |Kippy     |Glisenan |null |Male   |55.81.243.209  |
|53.48.126.221  |Stephenie |Kilpin   |null |Female |53.48.126.221  |
|50.209.34.232  |Vania     |Wrassell |null |Female |50.209.34.232  |
|48.246.113.39  |Denna     |Reston   |null |Female |48.246.113.39  |
|45.54.66.84    |Sonnie    |Jenkinson|null |Male   |45.54.66.84    |
|26.177.62.144  |Christye  |Colcutt  |null |Female |26.177.62.144  |
|255.212.85.194 |Llewellyn |Bulpitt  |null |Male   |255.212.85.194 |
|249.207.212.211|Casi      |Stonnell |null |Female |249.207.212.211|
|249.15.78.182  |Blisse    |Guisby   |null |Female |249.15.78.182  |
|240.10.38.196  |Vasili    |Notman   |null |HRWMale|240.10.38.196  |
+---------------+----------+---------+-----+-------+---------------+
only showing top 20 rows

In [43]:
coalesced_records_count

65

In [1]:
### F. Drop Records having null values in columns
### In this sample dataset we have Null values in some rows of Email / Visitor ID / or Gender
### First find & display such rows and display count & also display count
### Also display rows that have atleast null values in 2 columns(Email and Visitor ID)

In [21]:
web_visits_null_records = web_visits.filter(col("visitor_id").isNull() | col("email").isNull() | col("gender").isNull())
null_records_count = web_visits_null_records.count()
total_web_visit_count = web_visits.count()

In [22]:
web_visits_null_records.show(truncate=False)

+----------+----------+----------+------------------------+-------+---------------+
|visitor_id|first_name|last_name |email                   |gender |ip_address     |
+----------+----------+----------+------------------------+-------+---------------+
|null      |Pepi      |Kilbourne |null                    |Female |84.196.181.206 |
|null      |Shanta    |Tumber    |null                    |Female |71.102.214.197 |
|null      |Hillary   |Renackowna|null                    |Male   |205.12.233.232 |
|null      |Guilbert  |Rodrigues |null                    |Male   |204.226.140.111|
|null      |Gloriana  |Saward    |null                    |Female |232.180.22.68  |
|null      |Rochell   |O'Sheeryne|null                    |Female |214.169.197.119|
|null      |Vasili    |Notman    |null                    |HRWMale|240.10.38.196  |
|null      |Rupert    |Stiegars  |null                    |Male   |69.237.226.67  |
|144       |Tabitha   |Wallen    |twallen3z@altervista.org|null   |17.250.15.126  |
|null      |Malynda   |Bartosiak |null                    |Female |139.232.58.236 |
|null      |Carmelita |Camock    |null                    |Female |75.195.58.173  |
|null      |Stormi    |Tapenden  |null                    |Female |134.255.103.78 |
|null      |Pip       |Devany    |null                    |Male   |174.143.163.22 |
|null      |Craggy    |Labrenz   |null                    |Male   |193.70.236.47  |
|null      |Hasty     |Brunesco  |null                    |Male   |137.11.179.215 |
|null      |Inge      |Glauber   |null                    |Female |219.33.250.156 |
|null      |Calli     |Hardage   |null                    |Female |141.31.117.66  |
|null      |Griff     |Marnes    |null                    |Male   |16.159.81.155  |
|null      |Lemuel    |Torrecilla|null                    |Male   |143.42.59.237  |
|null      |Nobe      |Graalman  |null                    |Male   |92.191.8.232   |
+----------+----------+----------+------------------------+-------+---------------+
only showing top 20 rows

In [23]:
null_records_count

67

In [28]:
total_web_visit_count

1000

In [ ]:
### PART 1. Dropping all records with null value in any column using dropna function

In [27]:
web_visits_no_nulls = web_visits.dropna()
web_visits_no_nulls_cnt = web_visits_no_nulls.count()

In [19]:
web_visits_no_nulls.show(truncate=False)

+----------+----------+----------+----------------------------------+------+---------------+
|visitor_id|first_name|last_name |email                             |gender|ip_address     |
+----------+----------+----------+----------------------------------+------+---------------+
|1         |Marysa    |Arnull    |marnull0@t.co                     |Female|148.118.170.117|
|2         |Alys      |Mapledoram|amapledoram1@amazon.co.jp         |Female|189.249.7.22   |
|4         |Irita     |Coltan    |icoltan3@reddit.com               |Female|103.96.233.190 |
|5         |Wilburt   |Sheals    |wsheals4@ebay.com                 |Male  |51.106.36.130  |
|6         |Viviene   |Ewestace  |vewestace5@cnbc.com               |Female|189.8.44.77    |
|7         |Grange    |Bernhardt |gbernhardt6@nationalgeographic.com|Male  |237.92.0.252   |
|8         |Boris     |Gladdish  |bgladdish7@rakuten.co.jp          |Male  |214.120.52.45  |
|9         |Eldon     |Hamstead  |ehamstead8@issuu.com              |Male  |181.51.131.114 |
|10        |Patrice   |Buske     |pbuske9@shop-pro.jp               |Male  |8.4.93.195     |
|11        |Fallon    |Saint     |fsainta@youtu.be                  |Female|28.41.126.59   |
|12        |Falkner   |Merrgan   |fmerrganb@mac.com                 |Male  |75.160.5.11    |
|14        |Daloris   |Howood    |dhowoodd@jiathis.com              |Female|108.63.219.36  |
|15        |Augustus  |Lockney   |alockneye@ehow.com                |Male  |62.178.138.189 |
|16        |Cissy     |Fetherby  |cfetherbyf@ovh.net                |Female|49.136.89.178  |
|17        |Evered    |Demsey    |edemseyg@cloudflare.com           |Male  |109.147.148.147|
|18        |Rube      |Astill    |rastillh@timesonline.co.uk        |Male  |88.111.38.168  |
|19        |Saunderson|Di Ruggero|sdiruggeroi@reverbnation.com      |Male  |205.216.12.141 |
|20        |Frederick |Dow       |fdowj@bbc.co.uk                   |Male  |0.148.192.9    |
|21        |Darin     |Makeswell |dmakeswellk@mac.com               |Male  |252.141.137.183|
|22        |Derril    |Turnock   |dturnockl@cornell.edu             |Male  |143.201.115.87 |
+----------+----------+----------+----------------------------------+------+---------------+
only showing top 20 rows

In [20]:
web_visits_no_nulls_cnt

933

In [ ]:
### Total Output Records =  1000
### Records with Null Values in 1 or more columns = 67
### Records after Rows with null values removed = 933
### 1000 = 933+67

In [60]:
### PART 2. Dropping all records with null value for a particular column
###         Use subset parameter with dropna.
###         You can specify  multiple values for array subset to drop only rows containing null for specific columns
###         Display Dataframe with Null values for Gender , Display Final Dataframe with rows removed with null values only for Gender

In [53]:
web_visits_null_gender_only = web_visits.filter(col("gender").isNull())
null_gender_count = web_visits_null_gender_only.count()

In [54]:
web_visits_null_gender_only.show(truncate=False)

+----------+----------+---------+--------------------------+------+--------------+
|visitor_id|first_name|last_name|email                     |gender|ip_address    |
+----------+----------+---------+--------------------------+------+--------------+
|144       |Tabitha   |Wallen   |twallen3z@altervista.org  |null  |17.250.15.126 |
|991       |Davin     |Ayer     |dayerri@barnesandnoble.com|null  |88.138.125.228|
+----------+----------+---------+--------------------------+------+--------------+

In [55]:
null_gender_count

2

In [56]:
web_visits_remove_null_gender = web_visits.dropna(subset=["gender"])
web_visits_remove_null_gender_cnt = web_visits_remove_null_gender.count()

In [57]:
web_visits_remove_null_gender.show(truncate=False)

+----------+----------+----------+----------------------------------+------+---------------+
|visitor_id|first_name|last_name |email                             |gender|ip_address     |
+----------+----------+----------+----------------------------------+------+---------------+
|1         |Marysa    |Arnull    |marnull0@t.co                     |Female|148.118.170.117|
|2         |Alys      |Mapledoram|amapledoram1@amazon.co.jp         |Female|189.249.7.22   |
|null      |Pepi      |Kilbourne |null                              |Female|84.196.181.206 |
|4         |Irita     |Coltan    |icoltan3@reddit.com               |Female|103.96.233.190 |
|5         |Wilburt   |Sheals    |wsheals4@ebay.com                 |Male  |51.106.36.130  |
|6         |Viviene   |Ewestace  |vewestace5@cnbc.com               |Female|189.8.44.77    |
|7         |Grange    |Bernhardt |gbernhardt6@nationalgeographic.com|Male  |237.92.0.252   |
|8         |Boris     |Gladdish  |bgladdish7@rakuten.co.jp          |Male  |214.120.52.45  |
|9         |Eldon     |Hamstead  |ehamstead8@issuu.com              |Male  |181.51.131.114 |
|10        |Patrice   |Buske     |pbuske9@shop-pro.jp               |Male  |8.4.93.195     |
|11        |Fallon    |Saint     |fsainta@youtu.be                  |Female|28.41.126.59   |
|12        |Falkner   |Merrgan   |fmerrganb@mac.com                 |Male  |75.160.5.11    |
|null      |Shanta    |Tumber    |null                              |Female|71.102.214.197 |
|14        |Daloris   |Howood    |dhowoodd@jiathis.com              |Female|108.63.219.36  |
|15        |Augustus  |Lockney   |alockneye@ehow.com                |Male  |62.178.138.189 |
|16        |Cissy     |Fetherby  |cfetherbyf@ovh.net                |Female|49.136.89.178  |
|17        |Evered    |Demsey    |edemseyg@cloudflare.com           |Male  |109.147.148.147|
|18        |Rube      |Astill    |rastillh@timesonline.co.uk        |Male  |88.111.38.168  |
|19        |Saunderson|Di Ruggero|sdiruggeroi@reverbnation.com      |Male  |205.216.12.141 |
|20        |Frederick |Dow       |fdowj@bbc.co.uk                   |Male  |0.148.192.9    |
+----------+----------+----------+----------------------------------+------+---------------+
only showing top 20 rows

In [58]:
web_visits_remove_null_gender_cnt

998

In [ ]:
### Total Output Records =  1000
### Records with Null Values in Gender = 2
### Records after Rows with null values removed = 998
### 1000 = 998+2

In [61]:
### PART 3. Dropping all records with null value for at least 2 columns use dropna with thres key and subset array

In [68]:
web_visits_2null_cols = web_visits.filter(col("visitor_id").isNull() & col("email").isNull())
null_2cols_count = web_visits_2null_cols.count()

In [69]:
web_visits_2null_cols.show(truncate=False)

+----------+----------+----------+-----+-------+---------------+
|visitor_id|first_name|last_name |email|gender |ip_address     |
+----------+----------+----------+-----+-------+---------------+
|null      |Pepi      |Kilbourne |null |Female |84.196.181.206 |
|null      |Shanta    |Tumber    |null |Female |71.102.214.197 |
|null      |Hillary   |Renackowna|null |Male   |205.12.233.232 |
|null      |Guilbert  |Rodrigues |null |Male   |204.226.140.111|
|null      |Gloriana  |Saward    |null |Female |232.180.22.68  |
|null      |Rochell   |O'Sheeryne|null |Female |214.169.197.119|
|null      |Vasili    |Notman    |null |HRWMale|240.10.38.196  |
|null      |Rupert    |Stiegars  |null |Male   |69.237.226.67  |
|null      |Malynda   |Bartosiak |null |Female |139.232.58.236 |
|null      |Carmelita |Camock    |null |Female |75.195.58.173  |
|null      |Stormi    |Tapenden  |null |Female |134.255.103.78 |
|null      |Pip       |Devany    |null |Male   |174.143.163.22 |
|null      |Craggy    |Labrenz   |null |Male   |193.70.236.47  |
|null      |Hasty     |Brunesco  |null |Male   |137.11.179.215 |
|null      |Inge      |Glauber   |null |Female |219.33.250.156 |
|null      |Calli     |Hardage   |null |Female |141.31.117.66  |
|null      |Griff     |Marnes    |null |Male   |16.159.81.155  |
|null      |Lemuel    |Torrecilla|null |Male   |143.42.59.237  |
|null      |Nobe      |Graalman  |null |Male   |92.191.8.232   |
|null      |Conant    |Hawler    |null |Male   |57.94.26.165   |
+----------+----------+----------+-----+-------+---------------+
only showing top 20 rows

In [70]:
null_2cols_count

65

In [90]:
web_visits_2null_cols_rmv = web_visits.dropna(thresh=2,subset=['visitor_id','email','gender'])
web_visits_2null_cols_rmv_cnt = web_visits_2null_cols_rmv.count()

In [91]:
web_visits_2null_cols_rmv.show(truncate=False)

+----------+----------+----------+----------------------------------+------+---------------+
|visitor_id|first_name|last_name |email                             |gender|ip_address     |
+----------+----------+----------+----------------------------------+------+---------------+
|1         |Marysa    |Arnull    |marnull0@t.co                     |Female|148.118.170.117|
|2         |Alys      |Mapledoram|amapledoram1@amazon.co.jp         |Female|189.249.7.22   |
|4         |Irita     |Coltan    |icoltan3@reddit.com               |Female|103.96.233.190 |
|5         |Wilburt   |Sheals    |wsheals4@ebay.com                 |Male  |51.106.36.130  |
|6         |Viviene   |Ewestace  |vewestace5@cnbc.com               |Female|189.8.44.77    |
|7         |Grange    |Bernhardt |gbernhardt6@nationalgeographic.com|Male  |237.92.0.252   |
|8         |Boris     |Gladdish  |bgladdish7@rakuten.co.jp          |Male  |214.120.52.45  |
|9         |Eldon     |Hamstead  |ehamstead8@issuu.com              |Male  |181.51.131.114 |
|10        |Patrice   |Buske     |pbuske9@shop-pro.jp               |Male  |8.4.93.195     |
|11        |Fallon    |Saint     |fsainta@youtu.be                  |Female|28.41.126.59   |
|12        |Falkner   |Merrgan   |fmerrganb@mac.com                 |Male  |75.160.5.11    |
|14        |Daloris   |Howood    |dhowoodd@jiathis.com              |Female|108.63.219.36  |
|15        |Augustus  |Lockney   |alockneye@ehow.com                |Male  |62.178.138.189 |
|16        |Cissy     |Fetherby  |cfetherbyf@ovh.net                |Female|49.136.89.178  |
|17        |Evered    |Demsey    |edemseyg@cloudflare.com           |Male  |109.147.148.147|
|18        |Rube      |Astill    |rastillh@timesonline.co.uk        |Male  |88.111.38.168  |
|19        |Saunderson|Di Ruggero|sdiruggeroi@reverbnation.com      |Male  |205.216.12.141 |
|20        |Frederick |Dow       |fdowj@bbc.co.uk                   |Male  |0.148.192.9    |
|21        |Darin     |Makeswell |dmakeswellk@mac.com               |Male  |252.141.137.183|
|22        |Derril    |Turnock   |dturnockl@cornell.edu             |Male  |143.201.115.87 |
+----------+----------+----------+----------------------------------+------+---------------+
only showing top 20 rows

In [92]:
web_visits_2null_cols_rmv_cnt

935

In [97]:
### Total Output Records =  1000
### Records with Null Values in 2 or more columns = 65
### Records after Rows with null values removed = 935
### 1000 = 935+65

In [98]:
### G . Fill Records with null values
### Display Records with 1 or more null columns for comparision after transformations

In [94]:
rows_with_null_values = web_visits.filter(col("visitor_id").isNull() | col("email").isNull() | col("gender").isNull())
rows_with_null_values.show(truncate=False)

+----------+----------+----------+------------------------+-------+---------------+
|visitor_id|first_name|last_name |email                   |gender |ip_address     |
+----------+----------+----------+------------------------+-------+---------------+
|null      |Pepi      |Kilbourne |null                    |Female |84.196.181.206 |
|null      |Shanta    |Tumber    |null                    |Female |71.102.214.197 |
|null      |Hillary   |Renackowna|null                    |Male   |205.12.233.232 |
|null      |Guilbert  |Rodrigues |null                    |Male   |204.226.140.111|
|null      |Gloriana  |Saward    |null                    |Female |232.180.22.68  |
|null      |Rochell   |O'Sheeryne|null                    |Female |214.169.197.119|
|null      |Vasili    |Notman    |null                    |HRWMale|240.10.38.196  |
|null      |Rupert    |Stiegars  |null                    |Male   |69.237.226.67  |
|144       |Tabitha   |Wallen    |twallen3z@altervista.org|null   |17.250.15.126  |
|null      |Malynda   |Bartosiak |null                    |Female |139.232.58.236 |
|null      |Carmelita |Camock    |null                    |Female |75.195.58.173  |
|null      |Stormi    |Tapenden  |null                    |Female |134.255.103.78 |
|null      |Pip       |Devany    |null                    |Male   |174.143.163.22 |
|null      |Craggy    |Labrenz   |null                    |Male   |193.70.236.47  |
|null      |Hasty     |Brunesco  |null                    |Male   |137.11.179.215 |
|null      |Inge      |Glauber   |null                    |Female |219.33.250.156 |
|null      |Calli     |Hardage   |null                    |Female |141.31.117.66  |
|null      |Griff     |Marnes    |null                    |Male   |16.159.81.155  |
|null      |Lemuel    |Torrecilla|null                    |Male   |143.42.59.237  |
|null      |Nobe      |Graalman  |null                    |Male   |92.191.8.232   |
+----------+----------+----------+------------------------+-------+---------------+
only showing top 20 rows

In [ ]:
### PART1. Fill Null values for all columns for all rows using fillna

In [96]:
rows_fill_null_values = rows_with_null_values.fillna("INVALID_RECORD")
rows_fill_null_values.show(truncate=False)

+--------------+----------+----------+------------------------+--------------+---------------+
|visitor_id    |first_name|last_name |email                   |gender        |ip_address     |
+--------------+----------+----------+------------------------+--------------+---------------+
|INVALID_RECORD|Pepi      |Kilbourne |INVALID_RECORD          |Female        |84.196.181.206 |
|INVALID_RECORD|Shanta    |Tumber    |INVALID_RECORD          |Female        |71.102.214.197 |
|INVALID_RECORD|Hillary   |Renackowna|INVALID_RECORD          |Male          |205.12.233.232 |
|INVALID_RECORD|Guilbert  |Rodrigues |INVALID_RECORD          |Male          |204.226.140.111|
|INVALID_RECORD|Gloriana  |Saward    |INVALID_RECORD          |Female        |232.180.22.68  |
|INVALID_RECORD|Rochell   |O'Sheeryne|INVALID_RECORD          |Female        |214.169.197.119|
|INVALID_RECORD|Vasili    |Notman    |INVALID_RECORD          |HRWMale       |240.10.38.196  |
|INVALID_RECORD|Rupert    |Stiegars  |INVALID_RECORD          |Male          |69.237.226.67  |
|144           |Tabitha   |Wallen    |twallen3z@altervista.org|INVALID_RECORD|17.250.15.126  |
|INVALID_RECORD|Malynda   |Bartosiak |INVALID_RECORD          |Female        |139.232.58.236 |
|INVALID_RECORD|Carmelita |Camock    |INVALID_RECORD          |Female        |75.195.58.173  |
|INVALID_RECORD|Stormi    |Tapenden  |INVALID_RECORD          |Female        |134.255.103.78 |
|INVALID_RECORD|Pip       |Devany    |INVALID_RECORD          |Male          |174.143.163.22 |
|INVALID_RECORD|Craggy    |Labrenz   |INVALID_RECORD          |Male          |193.70.236.47  |
|INVALID_RECORD|Hasty     |Brunesco  |INVALID_RECORD          |Male          |137.11.179.215 |
|INVALID_RECORD|Inge      |Glauber   |INVALID_RECORD          |Female        |219.33.250.156 |
|INVALID_RECORD|Calli     |Hardage   |INVALID_RECORD          |Female        |141.31.117.66  |
|INVALID_RECORD|Griff     |Marnes    |INVALID_RECORD          |Male          |16.159.81.155  |
|INVALID_RECORD|Lemuel    |Torrecilla|INVALID_RECORD          |Male          |143.42.59.237  |
|INVALID_RECORD|Nobe      |Graalman  |INVALID_RECORD          |Male          |92.191.8.232   |
+--------------+----------+----------+------------------------+--------------+---------------+
only showing top 20 rows

In [100]:
### You can compare the source and transformed records to see modified values for  NULL Columns

In [101]:
### PART2. Fill Null values for specified columns with specific values using subset array argument along with fillna
###        Replace Only Null Email Columns

In [99]:
rows_fill_null_email_values = rows_with_null_values.fillna("10.0.0.0",subset=["email"])
rows_fill_null_email_values.show(truncate=False)

+----------+----------+----------+------------------------+-------+---------------+
|visitor_id|first_name|last_name |email                   |gender |ip_address     |
+----------+----------+----------+------------------------+-------+---------------+
|null      |Pepi      |Kilbourne |10.0.0.0                |Female |84.196.181.206 |
|null      |Shanta    |Tumber    |10.0.0.0                |Female |71.102.214.197 |
|null      |Hillary   |Renackowna|10.0.0.0                |Male   |205.12.233.232 |
|null      |Guilbert  |Rodrigues |10.0.0.0                |Male   |204.226.140.111|
|null      |Gloriana  |Saward    |10.0.0.0                |Female |232.180.22.68  |
|null      |Rochell   |O'Sheeryne|10.0.0.0                |Female |214.169.197.119|
|null      |Vasili    |Notman    |10.0.0.0                |HRWMale|240.10.38.196  |
|null      |Rupert    |Stiegars  |10.0.0.0                |Male   |69.237.226.67  |
|144       |Tabitha   |Wallen    |twallen3z@altervista.org|null   |17.250.15.126  |
|null      |Malynda   |Bartosiak |10.0.0.0                |Female |139.232.58.236 |
|null      |Carmelita |Camock    |10.0.0.0                |Female |75.195.58.173  |
|null      |Stormi    |Tapenden  |10.0.0.0                |Female |134.255.103.78 |
|null      |Pip       |Devany    |10.0.0.0                |Male   |174.143.163.22 |
|null      |Craggy    |Labrenz   |10.0.0.0                |Male   |193.70.236.47  |
|null      |Hasty     |Brunesco  |10.0.0.0                |Male   |137.11.179.215 |
|null      |Inge      |Glauber   |10.0.0.0                |Female |219.33.250.156 |
|null      |Calli     |Hardage   |10.0.0.0                |Female |141.31.117.66  |
|null      |Griff     |Marnes    |10.0.0.0                |Male   |16.159.81.155  |
|null      |Lemuel    |Torrecilla|10.0.0.0                |Male   |143.42.59.237  |
|null      |Nobe      |Graalman  |10.0.0.0                |Male   |92.191.8.232   |
+----------+----------+----------+------------------------+-------+---------------+
only showing top 20 rows

# Store all output records in CSV,TSV,| as well as JSON from Example Transformations in A,B,C,D,E,F,G

In [45]:
# Persist all the output transformation to ensure they are not computed multiple times

In [46]:
web_visit_with_name_mail.persist()
visitor_ip_gender.persist()
web_visit_with_fullname.persist()
web_visits_coalesced_visitorid.persist()
web_visits_no_nulls.persist()
web_visits_remove_null_gender.persist()
web_visits_2null_cols_rmv.persist()
rows_fill_null_values.persist()
rows_fill_null_email_values.persist()

DataFrame[visitor_id: string, first_name: string, last_name: string, email: string, gender: string, ip_address: string]

In [50]:
# Writing Records in CSV,TSV,| and JSON for web_visit_with_name_mail
web_visit_with_name_mail.write.format('csv').options(delimiter=',').option("header","true").save(f'{output_datset_path_csv}/web_visit_with_name_mail')
web_visit_with_name_mail.write.format('csv').options(delimiter='\t').option("header","true").save(f'{output_datset_path_tab}/web_visit_with_name_mail')
web_visit_with_name_mail.write.format('csv').options(delimiter='|').option("header","true").save(f'{output_datset_path_pipe}/web_visit_with_name_mail')
web_visit_with_name_mail.write.format('json').save(f'{output_datset_path_json}/web_visit_with_name_mail')

In [51]:
# Writing Records in CSV,TSV,| and JSON for visitor_ip_gender
visitor_ip_gender.write.format('csv').options(delimiter=',').option("header","true").save(f'{output_datset_path_csv}/visitor_ip_gender')
visitor_ip_gender.write.format('csv').options(delimiter='\t').option("header","true").save(f'{output_datset_path_tab}/visitor_ip_gender')
visitor_ip_gender.write.format('csv').options(delimiter='|').option("header","true").save(f'{output_datset_path_pipe}/visitor_ip_gender')
visitor_ip_gender.write.format('json').save(f'{output_datset_path_json}/visitor_ip_gender')

In [52]:
# Writing Records in CSV,TSV,| and JSON for web_visit_with_fullname
web_visit_with_fullname.write.format('csv').options(delimiter=',').option("header","true").save(f'{output_datset_path_csv}/web_visit_with_fullname')
web_visit_with_fullname.write.format('csv').options(delimiter='\t').option("header","true").save(f'{output_datset_path_tab}/web_visit_with_fullname')
web_visit_with_fullname.write.format('csv').options(delimiter='|').option("header","true").save(f'{output_datset_path_pipe}/web_visit_with_fullname')
web_visit_with_fullname.write.format('json').save(f'{output_datset_path_json}/web_visit_with_fullname')

In [53]:
# Writing Records in CSV,TSV,| and JSON for web_visits_coalesced_visitorid
web_visits_coalesced_visitorid.write.format('csv').options(delimiter=',').option("header","true").save(f'{output_datset_path_csv}/web_visits_coalesced_visitorid')
web_visits_coalesced_visitorid.write.format('csv').options(delimiter='\t').option("header","true").save(f'{output_datset_path_tab}/web_visits_coalesced_visitorid')
web_visits_coalesced_visitorid.write.format('csv').options(delimiter='|').option("header","true").save(f'{output_datset_path_pipe}/web_visits_coalesced_visitorid')
web_visits_coalesced_visitorid.write.format('json').save(f'{output_datset_path_json}/web_visits_coalesced_visitorid')

In [102]:
# Writing Records in CSV,TSV,| and JSON for web_visits_no_nulls
web_visits_no_nulls.write.format('csv').options(delimiter=',').option("header","true").save(f'{output_datset_path_csv}/web_visits_no_nulls')
web_visits_no_nulls.write.format('csv').options(delimiter='\t').option("header","true").save(f'{output_datset_path_tab}/web_visits_no_nulls')
web_visits_no_nulls.write.format('csv').options(delimiter='|').option("header","true").save(f'{output_datset_path_pipe}/web_visits_no_nulls')
web_visits_no_nulls.write.format('json').save(f'{output_datset_path_json}/web_visits_no_nulls')

In [103]:
# Writing Records in CSV,TSV,| and JSON for web_visits_remove_null_gender
web_visits_remove_null_gender.write.format('csv').options(delimiter=',').option("header","true").save(f'{output_datset_path_csv}/web_visits_remove_null_gender')
web_visits_remove_null_gender.write.format('csv').options(delimiter='\t').option("header","true").save(f'{output_datset_path_tab}/web_visits_remove_null_gender')
web_visits_remove_null_gender.write.format('csv').options(delimiter='|').option("header","true").save(f'{output_datset_path_pipe}/web_visits_remove_null_gender')
web_visits_remove_null_gender.write.format('json').save(f'{output_datset_path_json}/web_visits_remove_null_gender')

In [104]:
# Writing Records in CSV,TSV,| and JSON for web_visits_2null_cols_rmv
web_visits_2null_cols_rmv.write.format('csv').options(delimiter=',').option("header","true").save(f'{output_datset_path_csv}/web_visits_2null_cols_rmv')
web_visits_2null_cols_rmv.write.format('csv').options(delimiter='\t').option("header","true").save(f'{output_datset_path_tab}/web_visits_2null_cols_rmv')
web_visits_2null_cols_rmv.write.format('csv').options(delimiter='|').option("header","true").save(f'{output_datset_path_pipe}/web_visits_2null_cols_rmv')
web_visits_2null_cols_rmv.write.format('json').save(f'{output_datset_path_json}/web_visits_2null_cols_rmv')

In [105]:
# Writing Records in CSV,TSV,| and JSON for rows_fill_null_values
rows_fill_null_values.write.format('csv').options(delimiter=',').option("header","true").save(f'{output_datset_path_csv}/rows_fill_null_values')
rows_fill_null_values.write.format('csv').options(delimiter='\t').option("header","true").save(f'{output_datset_path_tab}/rows_fill_null_values')
rows_fill_null_values.write.format('csv').options(delimiter='|').option("header","true").save(f'{output_datset_path_pipe}/rows_fill_null_values')
rows_fill_null_values.write.format('json').save(f'{output_datset_path_json}/rows_fill_null_values')

In [106]:
# Writing Records in CSV,TSV,| and JSON for rows_fill_null_email_values
rows_fill_null_email_values.write.format('csv').options(delimiter=',').option("header","true").save(f'{output_datset_path_csv}/rows_fill_null_email_values')
rows_fill_null_email_values.write.format('csv').options(delimiter='\t').option("header","true").save(f'{output_datset_path_tab}/rows_fill_null_email_values')
rows_fill_null_email_values.write.format('csv').options(delimiter='|').option("header","true").save(f'{output_datset_path_pipe}/rows_fill_null_email_values')
rows_fill_null_email_values.write.format('json').save(f'{output_datset_path_json}/rows_fill_null_email_values')